:root{
    --background-darkMode:#000;
    --background-lightMode:linear-gradient(to bottom,#0da0da, #dbbc08, #87CEEB);
}
body{
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    color: white;
}
main{
    background: linear-gradient(to bottom,#0da0da, #dbbc08, #87CEEB);
    /* background-color: black; */
    width: 90%;
    margin: 3em auto;
    padding-top: 2em;
    border-radius: 2em;
    /* height: 90vh; */
    max-width: 50em;
    overflow: hidden;
}
.darkmode{
    background: var(--background-darkMode);
    transition: background 1s ease-in;
}
.darkModeBtn{
    background-color: transparent;
    border: none;
    justify-self: end;
    /* float: left; */
}
.showindark{
    background-color: white;
    border-radius: 50%;
}
.location{
    /* display: inline-block; */
    display: grid;
    grid-template-columns: 90% 10%;
    width: 80%;
    column-gap: auto;
    /* display: flex; */
    margin:auto;
}
#locator{
    width: 80%;
    padding: .7em;
    border: none;
    border-radius: 2em;
    
    /* display: flex; */
}

.weatherdata{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    width: 60%;
    /* max-width: 30em; */
    margin: 0 auto;
    gap: .5em;
}
.weatherdata div{
    background-color: black;
    padding: 1em;
    /* height: 10em; */
    font-size: .8em;
    text-align: center;
    border-radius: 2em;
    /* width: 5em; */
}
.weatherdata img{
    width: 50%;
}



.about{
    text-align: center;
    width: 50%;
    margin: 1em auto;
}
.about img{
    width: 25%;
}
.about h1{
    font-size: 3em;
}
.forecast-container{
    display: flex;
    gap: 1em;
    background-color:transparent;
    /* overflow: hidden; */
    overflow-x: scroll;
    width: 98%;
    margin: 2em auto;
    padding: .9em;
    border-radius: 2em;
    /* flex-wrap: wrap; */
    scroll-behavior:smooth;
}

.forecast-container::-webkit-scrollbar {
    width: 0;
}

/* Optional: style scrollbar track, thumb, etc. for Webkit browsers */
.forecast-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.forecast-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

@media only screen and (max-width: 35em){
    .weatherdata{
        font-size: .7em;

    }
    .location{
        width: 85%;
    }
    #locator{
        width: 60%;
        margin: auto;
    }
}